{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html" class="active">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html">Pesticide</a></li>
{% endblock %}

{% block body %}
<h2 class="gold-text" style="text-align: center;color: #c79c60; margin: 0px;font-family: 'Times New Roman'; font-size: 35px;">
  <br>
  <b class="typing-animation1">Crop Recommendation Tool</b>
</h2>
<div class="tm-welcome-content1" >
  <p style="font-family: 'Times New Roman'; font-size: 17px">The Crop Suggestion Tool is designed to help you determine the most
    suitable crop to grow on your farm.
    By providing information such as the NPK ratio, humidity percentage,
    rainfall, pH level, and temperature of your
    farm,
    the tool can suggest crops that are best suited to your conditions.</p>
  <p style="font-family: 'Times New Roman'; font-size: 17px">
    Once you enter these details, the tool will analyze them and provide you
    with a crop recommendation. This
    recommendation will
    include information about the suggested crop, such as its ideal growing
    conditions and potential yields. Armed with
    this information,
    you can make informed decisions about what to plant on your farm to maximize
    your yield and success.
  </p>
  <p style="font-family: 'Times New Roman'; font-size: 17px">
    Using the Crop Suggestion Tool can help you optimize your farming practices
    and improve your overall farm
    productivity. Whether you're
    a seasoned farmer looking to diversify your crops or a novice looking for
    guidance, this tool can provide you with
    valuable insights
    to support your farming endeavors.
  </p>
</div>
<br />
<div class="light-gray-bg">
  <div style="
  align-items: center;
    color: black;
    padding-left: 418px;
  ">
    <div class="row">
      <div class="col-md-6" style="
        width: 350px;
        color: black;
        border-radius: 25px;
        padding-bottom: 10px;
      ">
        <form method="POST" action="/crop_prediction">
          <div class="form-group">
            <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen
                (ratio)</b></label>
            <input type="number" class="form-control" id="Nitrogen" max="100"
              min="0" name="nitrogen"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>
          <div class="form-group">
            <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous
                (ratio)</b></label>
            <input type="number" class="form-control" id="Phosphorous" max="100"
              min="0" name="phosphorous"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>

          <div class="form-group">
            <label for="Potassium" style="font-size: 17px"><b>Potassium
                (ratio)</b></label>
            <input type="number" class="form-control" id="Potassium"
              name="potassium" max="100" min="0"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>

        </div>
        <div class="col-md-6" style="
        width: 350px;
        color: black;
        border-radius: 25px;
        padding-bottom: 10px;
      ">
          <div class="form-group">
            <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in
                mm)</b></label>
            <input type="number" class="form-control" id="Rainfall"
              name="rainfall" min="0" step="0.01"
              placeholder="Enter the value" style="font-weight: bold"
              required />
          </div>

          <div class="form-group">
            <label for="Temperature" style="font-size: 17px"><b>Temperature (in
                °C)</b></label>
            <input type="number" class="form-control" id="Temperature" max="100"
              min="0" step="0.01" name="temperature"
              placeholder="Enter the value" style="font-weight: bold"
              required />
          </div>

          <div class="form-group">
            <label for="Humidity" style="font-size: 17px"><b>Relative Humidity
                (in %)</b></label>
            <input type="number" class="form-control" id="Humidity" max="100"
              min="0" step="0.01" name="humidity"
              placeholder="Enter the value" style="font-weight: bold"
              required />
          </div>
          
        </div>

      </div>
      <div class="form-group" style="width: 500px; padding-left: 200px; padding-bottom: 25px;">
        <label for="ph" style="font-size: 17px"><b>ph level</b></label>
        <input type="number" class="form-control" id="ph" name="ph" max="14"
          min="0" step=".01"
          placeholder="Enter the value" style="font-weight: bold"
          required />
      </div>
      <div class="row" style="padding-left: 300px; padding-bottom: 60px;">
        <input type="submit"  value="Predict" class="predict" style="align-self: center; font-size: large; font-weight: bold;">
      </div>
    </form>
  </div>
</div>

{% endblock %}