{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html" class="active">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 class="gold-text"
  style="text-align: center;color: #c79c60; margin: 0px;font-family: 'Times New Roman'; font-size: 35px;">
  <br>
  <b class="typing-animation2">Fertilizer Recommendation Tool</b>
</h2>
<div class="tm-welcome-content1">
  <p style="font-family: 'Times New Roman'; font-size: 17px">The Fertilizer
    Recommendation Tool is designed to assist
    you in selecting
    the most suitable fertilizer for your crop based on its nitrogen,
    phosphorus, and potassium (NPK) requirements.
    Simply select your crop from the dropdown list and enter the NPK ratio
    suitable for your crop.</p>
  <p style="font-family: 'Times New Roman'; font-size: 17px">
    The tool will analyze this information and provide you with a recommendation
    for the best fertilizer to use. This
    recommendation
    will help you ensure that your crops receive the nutrients they need for
    healthy growth and optimal yields.
  </p>
  <p style="font-family: 'Times New Roman'; font-size: 17px">
    Using the Fertilizer Recommendation Tool can help you make informed
    decisions about fertilization, leading to more
    efficient use of
    resources and better crop performance. Whether you're a small-scale farmer
    or a large agricultural enterprise, this
    tool can help
    you achieve the best results from your fertilization practices.
  </p>
</div>
<br />

<div class="light-gray-bg">
  <div style="
  align-items: center;
    color: black;
    padding-left: 427px;
  ">
    <div class="row">
      <div class="col-md-6" style="
        width: 350px;
        color: black;
        border-radius: 25px;
        padding-bottom: 10px;
      ">
        <form method="POST" action="{{url_for('fertilizer_recommend')}}">
          <div class="form-group">
            <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen
                (ratio)</b></label>
            <input type="number" class="form-control" id="Nitrogen"
              name="nitrogen" max="100" min="0"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>
          <div class="form-group">
            <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous
                (ratio)</b></label>
            <input type="number" class="form-control" id="Phosphorous"
              name="phosphorous" max="100" min="0"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>
        </div>
        <div class="col-md-6" style="
        width: 350px;
        color: black;
        border-radius: 25px;
        padding-bottom: 10px;
      ">
          <div class="form-group">
            <label for="Potassium" style="font-size: 17px"><b>Potassium
                (ratio)</b></label>
            <input type="number" class="form-control" id="Potassium"
              name="potassium" max="100" min="0"
              placeholder="Enter the value (example:50)"
              style="font-weight: bold" required />
          </div>

          <div class="form-group">
            <label for="crop" style="font-size: 17px"><b>Crop you want to
                grow</b></label>
            <select name="cropname" class="form-control" id="crop"
              placeholder="Select a crop" style="font-weight: bold"
              required>
              <option selected>apple</option>
              <option>banana</option>
              <option>blackgram</option>
              <option>chickpea</option>
              <option>coconut</option>
              <option>coffee</option>
              <option>cotton</option>
              <option>grapes</option>
              <option>groundnut</option>
              <option>jute</option>
              <option>kidneybeans</option>
              <option>lentil</option>
              <option>maize</option>
              <option>mango</option>
              <option>mothbeans</option>
              <option>mungbean</option>
              <option>muskmelon</option>
              <option>mustard</option>
              <option>orange</option>
              <option>paddy</option>
              <option>papaya</option>
              <option>pearlmillet</option>
              <option>pigeonpea</option>
              <option>pomegranate</option>
              <option>rapeseed</option>
              <option>rice</option>
              <option>sorghum</option>
              <option>sugarcane</option>
              <option>watermelon</option>
              <option>wheat</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left: 300px; padding-top: 20px;padding-bottom: 60px;">
        <input type="submit"  value="Predict" class="predict" style="align-self: center; font-size: large; font-weight: bold;">
      </div>
        
    </form>
  </div>
  {% endblock %}